model:
#  backbone: PResNet
#  encoder: HybridEncoder
#  decoder: RTDETRTransformer
  multi_scale: [480, 512, 544, 576, 608, 640, 640, 640, 672, 704, 736, 768, 800]

  PResNet:
    depth: 18
    # depth: 50 # 18 or 101
    variant: d
    freeze_at: -1 # 18
    # freeze_at: 0  #其他同
    return_idx: [1, 2, 3]
    num_stages: 4
    freeze_norm: False #18
    # freeze_norm: True  #其他
    pretrained: True

  HybridEncoder:
    in_channels: [128, 256, 512] #18
    # in_channels: [512, 1024, 2048] #50
    hidden_dim: 256 # 18 and 50
    # hidden_dim: 384 #101

    feat_strides: [8, 16, 32]
    use_encoder_idx: [2]
    num_encoder_layers: 1
    nhead: 8
    dim_feedforward: 1024 #18 and 50
    # dim_feedforward: 2048 #101
    dropout: 0.
    enc_act: 'gelu'
    pe_temperature: 10000

    # cross
    expansion: 0.5 #18
    # expansion: 1.0 #50 and 101
    depth_mult: 1
    act: 'silu'

    # eval
    eval_spatial_size: [640, 640]


  RTDETRTransformer:
    feat_channels: [256, 256, 256] #18 and 50
    # feat_channels: [384, 384, 384] #101
    feat_strides: [8, 16, 32]
    hidden_dim: 256
    num_levels: 3

    num_queries: 300
    num_decoder_layers: 3 # 18
    #num_decoder_layers: 6 # 50 and 101
    num_denoising: 100

    eval_idx: -1
    eval_spatial_size: [640, 640]


  use_focal_loss: True

  RTDETRPostProcessor:
    num_top_queries: 300
    num_classes: 80
    remap_mscoco_category: True


  SetCriterion:
    weight_dict: {loss_vfl: 1, loss_bbox: 5, loss_giou: 2,}
    losses: ['vfl', 'boxes', ]
    alpha: 0.75
    gamma: 2.0

    matcher:
      # type: HungarianMatcher
      weight_dict: {cost_class: 2, cost_bbox: 5, cost_giou: 2}
      # use_focal_loss: True
      alpha: 0.25
      gamma: 2.0

#  optimizer配置 三个结构都相同
sync_bn: True
use_amp: False
scaler: True
  #type: GradScaler
  #enabled: True

use_ema: True
ema:
  # type: ModelEMA
  decay: 0.9999
  warmups: 2000

find_unused_parameters: True

epoches: 72
clip_max_norm: 0.1

optimizer:  # 18 的优化器
  #mtype: AdamW
  params:
    -
      params: '^(?=.*backbone)(?=.*norm).*$'
      lr: 0.00001
      weight_decay: 0.
    -
      params: '^(?=.*backbone)(?!.*norm).*$'
      lr: 0.00001
    -
      params: '^(?=.*(?:encoder|decoder))(?=.*(?:norm|bias)).*$'
      weight_decay: 0.

  lr: 0.0001
  betas: [0.9, 0.999]
  weight_decay: 0.0001

lr_scheduler:
  # type: MultiStepLR
  milestones: [1000]
  gamma: 0.1

output_dir: ./output/rtdetr_r18vd_6x_coco

# COCO_detection


dataloader:
#  base:
#    img_folder: ../../data/coco/images/val2017/
#    ann_file: ../../data/coco/annotations/instances_val2017.json
#    return_masks: None
#    remap_mscoco_category: True
  train_dataloader:
    type: DataLoader
    dataset:
      # type: CocoDetection
      img_folder: F:/Xunlei/coco/train2017/
      ann_file: F:/Xunlei/coco/annotations/instances_train2017.json
      transforms:
        ops:
       # type: Compose
        #- { type: Compose}
        - { type: RandomPhotometricDistort, p: 0.5}
        - { type: RandomZoomOut, fill: 0 }
        - { type: RandomIoUCrop, p: 0.8 }
        - { type: SanitizeBoundingBox, min_size: 1 }
        - { type: RandomHorizontalFlip }
        - { type: Resize, size: [ 640, 640 ], }
        # - {type: Resize, size: 639, max_size: 640}
        # - {type: PadToSize, spatial_size: 640}
        - { type: ToImageTensor }
        - { type: ConvertDtype }
        - { type: SanitizeBoundingBox, min_size: 1 }
        - { type: ConvertBox, out_fmt: 'cxcywh', normalize: True }
    shuffle: True
    batch_size: 8
    num_workers: 1 #hy
    drop_last: True
    collate_fn: default_collate_fn

  calib_dataloader:
    # type: DataLoader
    dataset:
      # type: CocoDetection
      img_folder: F:/Xunlei/coco/data/images/calib100/
      ann_file: F:/Xunlei/coco/data/annotations/instances_calib100.json
      transforms:
        ops:
          - { type: Resize, size: [ 640, 640 ] }
          - { type: ToImageTensor }
          - { type: ConvertDtype }

    shuffle: False
    batch_size: 6
    num_workers: 1 #hy
    drop_last: False
    collate_fn: default_collate_fn

  val_dataloader:
    # type: DataLoader
    dataset:
      # type: CocoDetection
      img_folder: F:/Xunlei/coco/val2017/
      ann_file: F:/Xunlei/coco/annotations/instances_val2017.json
      transforms:
        ops:
        - { type: Resize, size: [ 640, 640 ] }
        - { type: ToImageTensor }
        - { type: ConvertDtype }

    shuffle: False
    batch_size: 8
    num_workers: 1 #hy
    drop_last: False
    collate_fn: default_collate_fn

